* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color:#000000;
}
a{
  text-decoration:none;
  color:#FFF;
}
h4{
	font-size:20px;
}
.clearfix::after{
  content:"";
  display: block;
  clear: both;
}
/*-------------------<header>-------------------*/
header{
	width: 100%;
	height: 70px;
	background-color:#EC715F;

}
.header-content{
	width:1024px;
	margin:0 auto;
}
.header-logo{
	height:70px;
	float:left;
}
/*-------------------ハンバーガーメニュー-------------------*/
.menu-icon{
	width:40px;
	height:44px;
	float:right;
	margin:3px 8px;
	color:#FFF;
	border:solid 1.5px;
	display:none;
}
.menu-icon-borders{
	margin:0 auto;
	width:30px;
	height:30px;
	color:#FFF;
}
.menu-icon-border1{
	margin-top:9px;
	border-bottom:solid 1.5px;
	color:#FFF;
}
.menu-icon-border2{
	margin-top:9px;
	border-bottom:solid 1.5px;
	color:#FFF;
}
.menu-icon-border3{
	margin-top:9px;
	border-bottom:solid 1.5px;
	color:#FFF;
}
/*-------------------<nav-list>-------------------*/
.nav-list{
	float:right;
}
.nav-list-item{
	display:inline-block;
	list-style: none;
	line-height: 70px;
	margin:0 30px;
	font-size: 16px;
}
/*-------------------<main-visual>-------------------*/
.main-visual{
	width:100%;
	height:650px;
	background-image: url(img/mv.png);
	background-size:cover;
    background-position: center;
}
.main-visual-content{
	padding-top:200px;
    text-align: center;
}
.main-visual-content-h1{
	font-size:64px;
	color:#FAFAFA;
}
.main-visual-content-p{
	font-size:20px;
	padding-top:10px;
	color:#FAFAFA;
}
/*---------portfolio,feature,profile,contactの共通部分---------*/
.content{
	padding-top:90px;
	padding-bottom:90px;
}

.headline{
	font-size:32px;
	text-align: center;
}
.border{
	width:70px;
	margin:0 auto;
	padding-top:8px;
	border-bottom:3px solid #EC715F;
}

.head-text{
	font-size:16px;
	text-align: center;
	padding-top:30px;
	padding-bottom:30px;
}
/*-------------------<portfolio>-------------------*/
.portfolio{
	width:100%;
	background-color: #ECEFF1;
}
.portfolio-wrapper{
	width:920px;
	margin:0 auto;
}
.portfolio-image{
	float:left;
	width:300px;
	height:250px;
}
.img1{
	background-image: url(img/sketch.jpg);
	background-size:cover;
    background-position: center;
    margin:0 0 10px 0;
}
.img2{
	background-image: url(img/websuku.png);
	background-size:cover;
    background-position: center;
    margin:0 10px 10px 10px;
}
.img3{
	background-image: url(img/write.jpg);
	background-size:cover;
    background-position: center;
    margin:0 0 10px 0;
}
.img4{
	background-image: url(img/webcamp.png);
	background-size:cover;
    background-position: center;
}
.img5{
	background-image: url(img/talk.jpg);
	background-size:cover;
    background-position: center;
    margin:0 10px 0 10px;
}
.img6{
	background-image: url(img/webcamp-mother.png);
	background-size:cover;
    background-position: center;
}
/*-------------------<feature>-------------------*/
.feature{
	width:100%;
}
.feature-wrapper{
	width:980px;
	margin:0 auto;
}
.feature-box {
	width:320px;
	float:left;
	text-align: center;
}
.feature-box i {
  display:inline-block;
  margin:0 auto;
  font-size:60px;
}
.feature-box h4{
	margin:10px 0;
}
.feature-box-text{
	text-align: left;
}
.feature-box-center{
	margin:0 10px 0 10px;
}
/*-------------------<profile>-------------------*/
.profile{
	width:100%;
	background-color: #ECEFF1;
}
.profile-wrapper{
	width:1024px;
	margin:0 auto;
}
.profile-box{
	width: 512px;
	float:left;
}
.profile-image{
	background-image: url(img/my-icon.jpg);
	background-size:cover;
	border-radius: 50%;
	width: 250px;
	height:250px;
	margin:0 auto;
}
.myname{
	margin-bottom:8px;
}
.profile-text h4{
	margin-bottom:5px;
}
.profile-text p{
	font-size:16px;
}
/*-------------------<contact>-------------------*/
.contact{
	width:100%;
}
.contact-wrapper{
	width:800px;
	margin:0 auto;
}
.contact-box {
	width:400px;
	float:left;
}
.mail-tell-box{
	width:190px;
	display:block;
	margin:0 auto;
}
.contact-mail{
	display:block;
	padding-bottom:20px;

}
.mail-p{
	text-decoration: underline;
	margin-top:5px;
}
.contact-tell{
	display:block;
	margin-top:20px;
}
.tell-p{
	text-decoration: underline;
	margin-top:5px;
}
.social-box{
	width:190px;
	display:block;
	margin:0 auto;
}
.social{
	margin-top:5px;
}
.fa-facebook{
	font-size:50px;
}
.fa-twitter{
	font-size:50px;
	margin:0 20px;
}
.fa-instagram{
	font-size:50px;
}
/*-------------------<fooder>-------------------*/
footer{
	width:100%;
	height:60px;
	background-color:#EC715F;
    text-align:center;
}
.footer-text{
	color:#FAFAFA;
	line-height:60px;
}



/* タブレット縦置きサイズ(768px)程度の画面の大きさ以下に適用される設定です */
@media screen and (max-width:768px) {
	/*-------------------<header>-------------------*/
	header{
		width:100%;
		height:50px;
	}
	.header-content{
		width:90%;
		padding-left:5%;
		padding-right:5%;
	}
	.header-logo{
		height:50px;
	}
	.nav-list{
		display:none;
	}
	.menu-icon{
		display:block;
	}
	/*-------------------<main-visual>-------------------*/
	.main-visual{
		width:100%;
		height:750px;
		background-image: url(img/code.png);
	}
	.main-visual-content{
		width:90%;
		margin-left:5%;
		margin-right:5%;
	}
	.main-visual-content h1{
		font-size:40px;
	}
	.main-visual-content p{
		font-size:18px;
	}
	/*---------portfolio,feature,profile,contactの共通部分---------*/
	.content{
		width:90%;
		margin-left:5%;
		margin-right:5%;
	}
	/*-------------------<portfolio>-------------------*/
	.portfolio{
		width:100%;
	}
	.portfolio-wrapper{
		width:90%;
		margin-left:5%;
		margin-right:5%;
	}
	.portfolio-image{
		float:none;
		width:300px;
		height:250px;
	}
	.portfolio-images{
		width:100%;
	}
	.image-box{
		width:300px;
		margin:0 auto;
	}
	.img1{
		background-image:none;
		width:0;
		height:0;
	}
	.img2{
		background-image: url(img/websuku.png);
		background-size:cover;
	    background-position: center;
	    margin:0 0 10px 0;
	    display:block;
	}
	.img3{
		background-image:none;
		width:0;
		height:0;
	}
	.img4{
		background-image: url(img/webcamp.png);
		background-size:cover;
	    background-position: center;
	    margin:0 0 10px 0;
	    display:block;
	}
	.img5{
		background-image: none;
		width:0;
		height:0;
	}
	.img6{
		background-image: url(img/webcamp-mother.png);
		background-size:cover;
	    background-position: center;
	    margin-top:10px;
	    display:block;
	}
	/*-------------------<feature>-------------------*/
	.feature{
		width:100%;
	}
	.feature-wrapper{
		width:90%;
		margin-left:5%;
		margin-right:5%;
	}
	.feature-box{
		width:320px;
		float:none;
		margin:0 auto;
	}
	.feature-box i {
		margin-top:10px;
	}
	/*-------------------<profile>-------------------*/
	.profile{
		width:100%;
	}
	.profile-wrapper{
		width:90%;
		margin-left:5%;
		margin-right:5%;
	}
	.profile-box{
		width: 100%;
		float:none;
	}
	.profile-text{
		text-align: center;
	}
	.profile-text h4{
		margin-top:20px;
	}
	/*-------------------<contact>-------------------*/
	.contact{
		width:100%;
	}
	.contact-wrapper{
		width:90%;
		margin-left:5%;
		margin-right:5%;
	}
	.contact-box {
		width:100%;
		float:none;
		text-align:center;
	}
	.fa-twitter{
	margin:0 8px;
	}
}
