* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color:#000000;
}

a{
  text-decoration:none;
  color:#FFF;
}

h4{
	font-size:20px;
}

.clearfix::after{
  content:"";
  display: block;
  clear: both;
}



header{
	width: 100%;
	height: 70px;
	background-color:#EC715F;

}

.header-contents{
	width:1024px;
	margin:0 auto;
}

.header-logo{
	height:70px;
	float:left;
}

.nav-list{
	float:right;
}

.nav-list-item{
	display:inline-block;
	list-style: none;
	margin:25px 30px;
	font-size: 16px;
}

.main-visual{
	width:100%;
	height:650px;
	background-image: url(img/mv.png);
	background-size:cover;
    background-position: center;
}

.main-visual-content{
	padding-top:200px;
    text-align: center;
}

.main-visual-content h1{
	font-size:64px;
	color:#FAFAFA;
}

.main-visual-content p{
	font-size:20px;
	padding-top:10px;
	color:#FAFAFA;
}




.content{
	padding:90px 0;
}

.headline{
	font-size:32px;
	text-align: center;
}
.border{
	width:70px;
	margin:0 auto;
	padding-top:8px;
	border-bottom:3px solid #EC715F;
}

.head-text{
	font-size:16px;
	text-align: center;
	padding:30px 0;　/*上下に30pxの余白*/
}




.portfolio{
	width:100%;
	background-color: #ECEFF1;
}
.portfolio-wrapper{
	width:920px;
	margin:0 auto;
}
.portfolio-image{
	float:left;
	width:300px;
	height:250px;
}
.img1{
	background-image: url(img/sketch.jpg);
	background-size:cover;
    background-position: center;
    margin:0 0 10px 0;
}
.img2{
	background-image: url(img/websuku.png);
	background-size:cover;
    background-position: center;
    margin:0 10px 10px 10px;
}
.img3{
	background-image: url(img/write.jpg);
	background-size:cover;
    background-position: center;
    margin:0 0 10px 0;
}
.img4{
	background-image: url(img/webcamp.png);
	background-size:cover;
    background-position: center;
}
.img5{
	background-image: url(img/talk.jpg);
	background-size:cover;
    background-position: center;
    margin:0 10px 0 10px;
}
.img6{
	background-image: url(img/webcamp-mother.png);
	background-size:cover;
    background-position: center;
}





.feature{
	width:100%;
}

.feature-wrapper{
	width:980px;
	margin:0 auto;
}

.feature-box {
	width:320px;
	float:left;
}

.feature-box i {
  display:inline-block;
  text-align: center;
  width:60px;
}

.feature-box h4{
	text-align: center;
	margin:10px 0;
}

.feature-box-center{
	margin:0 10px 0 10px;
}



.profile{
	width:100%;
	background-color: #ECEFF1;
}
.profile-wrapper{
	width:1024px;
	margin:0 auto;
}
.profile-box{
	width: 512px;
	float:left;
}
.profile-image{
	background-image: url(img/my-icon.jpg);
	background-size:cover;
	border-radius: 50%;
	width: 250px;
	height:250px;
	margin:0 auto;
}

.myname{
	margin-bottom:8px;
}
.profile-text h4{
	margin-bottom:5px;
}
.profile-text p{
	font-size:16px;
}




.contact{
	width:100%;
}

.contact-wrapper{
	width:800px;
	margin:0 auto;
}
.contact-box {
	width:400px;
	float:left;
}
.contact-mail{
	margin:0 auto;
	margin-bottom:20px;
}
.contact-mail p{
	font-size:5px;
	margin-top:5px;
}

.contact-tell{
	margin:0 auto;
}

.contact-tell p{
	font-size:5px;
	margin-top:5px;
}
.social{
	margin-top:5px;
}
.social i{
}



footer{
	width:100%;
	height:60px;
	background-color:#EC715F;
    text-align:center;
}

.footer-text{
	color:#FAFAFA;
	padding-top:20px;
}



/* タブレット縦置きサイズ(768px)程度の画面の大きさ以下に適用される設定です */
@media screen and (max-width:768px) { 
	header{
		width:100%;
	}
	.header-contents{
		width:100%;
	}
	.nav-list{
		float:right;
	}

	.nav-list-item{
		display:inline-block;
		list-style: none;
		margin:25px 30px;
		font-size: 16px;
	}

	.main-visual{
		width:100%;
		height:750px;
		background-image: url(img/code.png);
	}
	.main-visual-content{
		width:100%;
	}
	.main-visual-content h1{
		font-size:40px;
	}
	.main-visual-content p{
		font-size:18%;
	}


	.content{
	}
	.top{
	}
	.headline{
	}
	.border{
	}
	.head-text{
	}


	.portfolio{
	}
	.portfolio-wrapper{
		width:100%;
	}
	.portfolio-image{
		float:none;
		width:300px;
		height:250px;
	}
	.img1{
		background-image:none;
		width:0;
		height:0;
	}
	.img2{
		background-image: url(img/websuku.png);
		background-size:cover;
	    background-position: center;
	    margin:0 0 10px 0;
	}
	.img3{
		background-image:none;
		width:0;
		height:0;
	}
	.img4{
		background-image: url(img/webcamp.png);
		background-size:cover;
	    background-position: center;
	    margin:0 0 10px 0;
	}
	.img5{
		background-image: none;
		width:0;
		height:0;
	}
	.img6{
		background-image: url(img/webcamp-mother.png);
		background-size:cover;
	    background-position: center;
	}
	.feature{
	}
	.feature-wrapper{
		width:100%;
	}
	.feature-box{
		float:none;
	}
	.profile{
	}
	.profile-wrapper{
		width:100%;
	}
	.contact{
	}
	.contact-wrapper{
		width:100%;
	}
	.contact-box {
		float:none;
	}
}
